@using sres.be
@{
    UsuarioBE usuario = Session["user"] == null ? null : (UsuarioBE)Session["user"];
    ViewBag.SRESDescription = ViewBag.SRESDescription == null ? true : ViewBag.SRESDescription;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#2E58A6">
    <meta name="msapplication-navbutton-color" content="#2E58A6">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="@Url.Content("~/Assets/images/favicon/ms-icon-144x144.png")">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#2E58A6">
    <meta property="og:title" content="Electromovilidad">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://grupo-zuniga.com/proyectos/sres/">
    <meta property="og:image" content="http://grupo-zuniga.com/proyectos/sres/images/sres-iso.png">
    <meta property="og:description" content="Vehìculos eléctricos para la reducción de GEI.">
    <title>Electromovilidad | @ViewBag.Titulo</title>
    <meta name="description" content="Vehìculos eléctricos para la reducción de GEI.">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="@Url.Content("~/Assets/images/favicon/favicon-32x32.png")" sizes="32x32">
    <link rel="icon" type="image/png" href="@Url.Content("~/Assets/images/favicon/favicon-16x16.png")" sizes="16x16">
    <link rel="mask-icon" href="@Url.Content("~/Assets/images/favicon/safari-pinned-tab.svg")" color="#5bbad5">
    <link rel="shortcut icon" href="@Url.Content("~/Assets/images/logo-principal.svg")">
    <meta name="msapplication-config" content="@Url.Content("~/Assets/images/favicon/browserconfig.xml")">
    <meta name="theme-color" content="#ffffff">
    @*<script src="https://www.google.com/recaptcha/api.js?render=6Ldrz64ZAAAAAI1-XbefHCEBr8VMOgCPZhOPOI_7"></script>*@
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/lightbox.min.css")">
    
    @RenderSection("link_header", false)
    <link rel="apple-touch-icon" sizes="57x57" href="@Url.Content("~/Assets/images/favicon/apple-icon-57x57.png")">
    <link rel="apple-touch-icon" sizes="60x60" href="@Url.Content("~/Assets/images/favicon/apple-icon-60x60.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/Assets/images/favicon/apple-icon-72x72.png")">
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/Assets/images/favicon/apple-icon-76x76.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/Assets/images/favicon/apple-icon-114x114.png")">
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/Assets/images/favicon/apple-icon-120x120.png")">
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/Assets/images/favicon/apple-icon-144x144.png")">
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/Assets/images/favicon/apple-icon-152x152.png")">
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Assets/images/favicon/apple-icon-180x180.png")">
    <link rel="icon" type="image/png" sizes="192x192" href="@Url.Content("~/Assets/images/favicon/android-icon-192x192.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/Assets/images/favicon/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="96x96" href="@Url.Content("~/Assets/images/favicon/favicon-96x96.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Assets/images/favicon/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/Assets/images/favicon/manifest.json")">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css' type='text/css' />
    @RenderSection("scripts_header", false)

    <style type="text/css">
           #coordenadas {     
                display: block;
                position: relative;
                margin: 0px auto;
                width: 40%;
                padding: 5px;
                border: none;
                border-radius: 7px;
                font-size: 15px;
		        font-family: Montserrat;
                text-align: center;
                color: #000;
                background: #D6EAF8;
            }

        .mapbox-directions-profile{
          display: none !important;
        }
        .mapbox-directions-instructions{
          display: none !important;
        }

        .mapbox-directions-route-summary{
            background-color: #fff;
            color: #244C9C;
        }
    </style>

</head>
<body>
    @*@Html.Partial("_MenuTop")
    @Html.Partial("_MenuBottom")*@
    @Html.Partial("_Menu")
    @Html.Partial("_Header")
    @Html.Partial("_Slider")
    @Html.Partial("_SRES_Description")
    @RenderBody()    
    @Html.Partial("_Footer")
    <script src="@Url.Content("~/Assets/js/lightbox-plus-jquery.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/script.js")"></script> 
    <script src="@Url.Content("~/Assets/js/scriptUtil.js")"></script>
    <script type="text/javascript">
        const baseUrl = '@Url.Content("~")';
        const baseUrlApi = 'http://161.35.182.46/ApiElectromovilidad/';
        //const baseUrlApi = 'http://localhost:8546/';
        const idUsuarioLogin = @(usuario == null ? "null" : usuario.ID_USUARIO.ToString());
        const idRolLogin = @(usuario == null ? "null" : usuario.ROL == null ? "null" : usuario.ID_ROL.ToString());
        const token = '@(usuario == null ? "" : $"{usuario.TOKEN}")';
    </script>
    @RenderSection("scripts_footer", false)
</body>
</html>