@using sres.app.Models
@using sres.be
@using sres.ut
@{
    ViewBag.Titulo = "Menú Administrador";
    ViewBag.SRESDescription = false;
    UsuarioBE usuario = Session["user"] == null ? null : (UsuarioBE)Session["user"];
}


<div class="container">
    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6 text-center" style="padding: 10px;">
            <a href="@Url.Action("inicio-electromovilidad", "Electromovilidad")">¿Quieres evaluar la compra de un vehículo eléctrico, vehìculo convencional nuevo o propio y/o transporte público ?</a>
        </div>
        <div class="col-3"></div>

        <div class="col-3"></div>
        <div class="col-6 text-center" style="padding: 10px;">
            <a href="@Url.Action("inicio-electromovilidad", "Electromovilidad")">
                <img src="@Url.Content($"~/Assets/images/img-p1.png")" class="img-fluid" />
            </a>
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6 text-center" style="padding: 10px;">
            <a href="@Url.Action("menu-estacion-carga", "Electromovilidad")">¿Quieres verificar el mapa interactivo de estaciones de carga eléctrica?</a>
        </div>
        <div class="col-3"></div>

        <div class="col-3"></div>
        <div class="col-6 text-center" style="padding: 10px;">
            <a href="@Url.Action("menu-estacion-carga", "Electromovilidad")">
                <img src="@Url.Content($"~/Assets/images/img-p2.png")" class="img-fluid" />
            </a>
        </div>
        <div class="col-3"></div>
    </div>
</div>