@using sres.app.Models
@using sres.be
@using sres.ut
@{
    ViewBag.Titulo = "Menú Administrador";
    ViewBag.SRESDescription = false;
    UsuarioBE usuario = Session["user"] == null ? null : (UsuarioBE)Session["user"];
}

<div class="container">
    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6 text-center" style="padding: 10px;">
            <a href="@Url.Action("inicio-electromovilidad", "Electromovilidad")">¿Quieres evaluar la compra de un vehículo eléctrico?</a>
        </div>
        <div class="col-3"></div>

        <div class="col-3"></div>
        <div class="col-6 text-center" style="padding: 10px;">
            <a href="@Url.Action("inicio-electromovilidad", "Electromovilidad")">
                <img src="@Url.Content($"~/Assets/images/home-icon-carro-inicio.svg")" class="img-fluid" width="20%" />
            </a>
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6 text-center" style="padding: 10px;">
            <a href="@Url.Action("menu-estacion-carga", "Electromovilidad")">¿Quieres ubicar una estación de carga eléctrica?</a>
        </div>
        <div class="col-3"></div>

        <div class="col-3"></div>
        <div class="col-6 text-center" style="padding: 10px;">
            <a href="@Url.Action("menu-estacion-carga", "Electromovilidad")">
                <img src="@Url.Content($"~/Assets/images/home-icon-estaciones-carga.svg")" class="img-fluid" width="30%" />
            </a>
        </div>
        <div class="col-3"></div>
    </div>
    @*<div class="row">
        <div class="col-12">
            <div id="grafico"></div>
        </div>        
    </div>*@
</div>