@using sres.be
@using sres.ut
@{
    ViewBag.Titulo = "Menu ";
    ViewBag.SRESDescription = false;
    UsuarioBE usuario = Session["user"] == null ? null : (UsuarioBE)Session["user"];
}

@section scripts_footer{
    <script src="@Url.Content("~/Assets/js/plugins/alert.js")"></script>
}

<div class="container">

    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6 text-center" style="padding: 10px;">
            <a href="@Url.Action("estaciones-mapa", "Electromovilidad")">¿Es un usuario de vehículo eléctrico?</a>
        </div>
        <div class="col-3"></div>

        <div class="col-3"></div>
        <div class="col-6 text-center" style="padding: 10px;">
            <a href="@Url.Action("estaciones-mapa", "Electromovilidad")">
                <img src="@Url.Content($"~/Assets/images/home-icon-mapa-estaciones.svg")" class="img-fluid" width="30%" />
            </a>
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6 text-center" style="padding: 10px;">
            <a href="@Url.Action("estacion-de-carga", "Electromovilidad")">¿Es un propietario o administrador de carga de estación eléctrica?</a>
        </div>
        <div class="col-3"></div>

        <div class="col-3"></div>
        <div class="col-6 text-center" style="padding: 10px;">
            <a href="@Url.Action("estacion-de-carga", "Electromovilidad")">
                <img src="@Url.Content($"~/Assets/images/home-icon-estaciones-carga.svg")" class="img-fluid" width="30%" />
            </a>
        </div>
        <div class="col-3"></div>
    </div>
</div>