@using sres.app.Models
@using sres.be
@using sres.ut
@{
    ViewBag.Titulo = "Menú principal";
    ViewBag.SRESDescription = false;
    UsuarioBE usuario = Session["user"] == null ? null : (UsuarioBE)Session["user"];
}
@section scripts_footer{
    <script src="@Url.Content("~/Assets/js/plugins/alert.js")"></script>
    <script src="@Url.Content("~/Assets/js/pages/electromovilidad_menu_principal.js")"></script>

<script>
    //var origen_longitud, origen_latitud, destino_longitud, destino_latitud, distancia;
    //mapboxgl.accessToken = 'pk.eyJ1Ijoia3phcmtsb3oiLCJhIjoiY2tsaDRoenNjMjRjcDJ2cXR4a2FrOHFtMSJ9.IubP7nyb7i-2Rvoyg_bLlA';
    //var map = new mapboxgl.Map({
    //    container: 'map',
    //    style: 'mapbox://styles/mapbox/streets-v11',
    //    center: [-77.03101439999999, -12.016025599999999],
    //    zoom: 5
    //});

    //var nav = new mapboxgl.NavigationControl({
    //    showCompass: true,
    //    showZoom: true,
    //    visualizePitch: true
    //});
    //map.addControl(nav);

    //map.addControl(new mapboxgl.FullscreenControl());
    //map.addControl(new mapboxgl.GeolocateControl({
    //    positionOptions: {
    //        enableHighAccuracy: true
    //    },
    //    trackUserLocation: true
    //}));
    //map.on('mousemove', function (e) {
    //    document.getElementById('coordenadas').innerHTML = JSON.stringify(e.lngLat);
    //});

    ////map.on('click', function (e) {
    ////    let coord = JSON.stringify(e.lngLat);
    ////    coord = JSON.parse(coord);
    ////    let lng = coord["lng"];
    ////    let lat = coord["lat"];
    ////    agregarMarker(lng, lat);
    ////});

    ////var agregarMarker = (lng, lat) => {
    ////    var marker = new mapboxgl.Marker({
    ////        color: "#FF5733",
    ////        draggable: true
    ////    }).setLngLat([lng, lat]).addTo(map);
    ////}

    ////Add zoom and rotation controls to the map.
    ////map.addControl(new mapboxgl.NavigationControl());


    ////Add router
    ////map.addControl(new MapboxDirections({ accessToken: mapboxgl.accessToken }), 'top-left');

    ////var directions = new mapboxgl.Directions({
    ////    unit: 'metric', // Use the metric system to display distances.
    ////    profile: 'walking', // Set the initial profile to walking.
    ////    container: 'directions', // Specify an element thats not the map container.
    ////    proximity: [-79.45, 43.65] // Give search results closer to these coordinates higher priority.
    ////});    

    //var directions = new MapboxDirections({
    //    accessToken: mapboxgl.accessToken,
    //    unit: 'metric',
    //    //profile: 'mapbox/cycling'
    //});

    //map.addControl(directions, 'top-left');

    //map.on('load', function () {
    //    directions.setOrigin('-77.06308,-12.08688'); // On load, set the origin to "Toronto, Ontario".
    //    directions.setDestination('-77.04974,-12.08718'); // On load, set the destination to "Montreal, Quebec".
    //});

    //var getCoordenadas = () => {        
    //    if (directions.getOrigin().geometry == undefined || directions.getDestination().geometry == undefined) {
    //        alert("Debe seleccionar el origen y destino"); return;
    //    }
    //    let point = directions.addWaypoint();
    //    origen_longitud = directions.getOrigin().geometry.coordinates[0];
    //    origen_latitud = directions.getOrigin().geometry.coordinates[1];
    //    destino_longitud = directions.getDestination().geometry.coordinates[0];
    //    destino_latitud = directions.getDestination().geometry.coordinates[1];
    //    alert(`Origen: [${origen_longitud}, ${origen_latitud}], Destino: [${destino_longitud}, ${destino_latitud}]  Distancia: ${distancia}`);
    //    //let origin = directions.getOrigin();
    //    //let destino = directions.getDestination();
    //    //let distancia = $('.directions-control-instructions .directions-control-directions .mapbox-directions-component h1').html();

    //}

    ////var sw = new mapboxgl.LngLat(-73.9876, 40.7661);
    ////var ne = new mapboxgl.LngLat(-73.9397, 40.8002);
    ////var llb = new mapboxgl.LngLatBounds(sw, ne);
    ////llb.getCenter();

    ////var scale = new mapboxgl.ScaleControl({
    ////    maxWidth: 80,
    ////    unit: 'imperial'
    ////});
    ////map.addControl(scale);

    //$('.mapboxgl-ctrl-bottom-right').addClass('d-none');
    //$('.mapboxgl-ctrl-bottom-left').addClass('d-none');

    //directions.on('route', function (e) {
    //    debugger;
    //    distancia = e.route[0].distance;
    //    let tm = e.route[0].legs[0].steps.length == 0 ? 0 : e.route[0].legs[0].steps.length - 1;
    //    let nombre_origen = e.route[0].legs[0].steps[0].name;
    //    let nombre_destino = e.route[0].legs[0].steps[tm].name;
    //    console.log(nombre_origen + " / " + nombre_destino);
    //    //console.log(e.route[0].legs[0].steps); // Logs the current route shown in the interface.
    //});

    //var origen = "-77.03689,-12.07596";
    //var destino = "-92.03689,-14.07596";
    //$('#mapbox-directions-origin-input .mapboxgl-ctrl-geocoder input').val(origen);
    //$('#mapbox-directions-destination-input .mapboxgl-ctrl-geocoder input').val(destino);

</script>
}

<div class="container">
    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6 text-center" style="padding: 10px;">
            <a href="@Url.Action("inicio-electromovilidad", "Electromovilidad")">¿Quieres evaluar la compra de un vehículo eléctrico, vehìculo convencional nuevo o propio y/o transporte público ?</a>
        </div>
        <div class="col-3"></div>

        <div class="col-3"></div>
        <div class="col-6 text-center" style="padding: 10px;">
            <a href="@Url.Action("inicio-electromovilidad", "Electromovilidad")">
                <img src="@Url.Content($"~/Assets/images/img-p1.png")" class="img-fluid" />
            </a>            
        </div>
        <div class="col-3"></div>
    </div>  
    
    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6 text-center" style="padding: 10px;">
            <a href="@Url.Action("menu-estacion-carga", "Electromovilidad")">¿Quieres verificar el mapa interactivo de estaciones de carga eléctrica?</a>
        </div>
        <div class="col-3"></div>

        <div class="col-3"></div>
        <div class="col-6 text-center" style="padding: 10px;">
            <a href="@Url.Action("menu-estacion-carga", "Electromovilidad")">
                <img src="@Url.Content($"~/Assets/images/img-p2.png")" class="img-fluid" />
            </a>
        </div>
        <div class="col-3"></div>
    </div>   
</div>

<div class="container mt-5">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 pb-5">
                @*<div class="text-center"><h3>Emisiones reducidas por año y sector</h3></div>*@
                <div class="logros chart" id="columnchart_values"></div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 pb-5">
                @*<div class="text-center"><h3>Emisiones reducidas por año y sector</h3></div>*@
                <div class="logros chart" id="columnchart_values_2"></div>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
    <input class="form-control" />
</div>*@

@*<div class="container" style="position: relative;">
    <div class="row">
        <div id='map' style='width: 100%; height: 400px;'></div>
    </div>   
    <div class="row">
        <pre id='coordenadas'></pre>
    </div>
    <div class="row">
        <button id='btn-ruta' onclick="getCoordenadas();">Obtener ruta</button>
    </div> 
</div>*@




<div class="container">
    @*<p>
        Different title positions<br />

        <a id="example5" href="@Url.Content("~/Assets/images/001.jpg")" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit."><img class="img-fluid" alt="example4" src="@Url.Content("~/Assets/images/001.jpg")" /></a>

        <a id="example6" href="@Url.Content("~/Assets/images/002.jpg")" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien. Vestibulum imperdiet porta ante ac ornare. Vivamus fringilla congue laoreet."><img class="img-fluid" alt="example5" src="@Url.Content("~/Assets/images/002.jpg")" /></a>

        <a id="example7" href="@Url.Content("~/Assets/images/003.jpg")" title="Cras neque mi, semper at interdum id, dapibus in leo. Suspendisse nunc leo, eleifend sit amet iaculis et, cursus sed turpis."><img class="img-fluid" alt="example6" src="@Url.Content("~/Assets/images/003.jpg")" /></a>

        <a id="example8" href="@Url.Content("~/Assets/images/004.jpg")" title="Sed vel sapien vel sem tempus placerat eu ut tortor. Nulla facilisi. Sed adipiscing, turpis ut cursus molestie, sem eros viverra mauris, quis sollicitudin sapien enim nec est. ras pulvinar placerat diam eu consectetur."><img class="last img-fluid" alt="example7" src="@Url.Content("~/Assets/images/004.jpg")"  /></a>
    </p>*@

    @*<p>
        Image gallery (ps, try using mouse scroll wheel)<br />
        <a class="example-image-link" href="@Url.Content("~/Assets/images/002.jpg")" data-lightbox="example-set" data-title=""><img class="example-image img-fluid" width="20%" height="30%" src="@Url.Content("~/Assets/images/002.jpg")" alt="" /></a>
        <a class="example-image-link" href="@Url.Content("~/Assets/images/003.jpg")" data-lightbox="example-set" data-title=""><img class="example-image img-fluid" width="20%" height="30%" src="@Url.Content("~/Assets/images/003.jpg")" alt="" /></a>
        <a class="example-image-link" href="@Url.Content("~/Assets/images/004.jpg")" data-lightbox="example-set" data-title=""><img class="example-image img-fluid" width="20%" height="30%" src="@Url.Content("~/Assets/images/004.jpg")" alt="" /></a>
        <a class="example-image-link" href="@Url.Content("~/Assets/images/005.jpg")" data-lightbox="example-set" data-title=""><img class="example-image img-fluid" width="20%" height="30%" src="@Url.Content("~/Assets/images/005.jpg")" alt="" /></a>
    </p>*@
</div>


    

    <script type="text/javascript">

        

        

        //google.charts.load('current', { 'packages': ['corechart'] });

        //function drawMultSeries01() {
        //    var data = google.visualization.arrayToDataTable([
        //        ['Year', 'Sector Público', 'Sector Privado'],
        //        ['2010', 0, 0],
        //        ['2018', 1000, 400],
        //        ['2019', 1170, 460],
        //        ['2020', 660, 1120],
        //        ['2021', 1030, 540],
        //    ]);
        //    var options = {
        //        width: 900,
        //        height: 540,
        //        title: 'Cantidad de tCO2eq disminuido por Año y Sector',
        //        subtitle: 'Período 2010 - 2030',
        //        hAxis: {
        //            title: 'Año del Período'
        //        },
        //        vAxis: {
        //            title: 'Toneladas de CO2eq'
        //        }
        //    };
        //    var chart = new google.visualization.ColumnChart(document.getElementById('chart-01'));
        //    chart.draw(data, options);
        //}
        //google.charts.setOnLoadCallback(drawMultSeries01);


        //google.charts.load('current', { 'packages': ['line'] });
        //google.charts.setOnLoadCallback(drawChart);

        //function drawChart() {

        //    var data = new google.visualization.DataTable();
        //    data.addColumn('number', 'Horizonte de evaluación (en años)');
        //    data.addColumn('number', 'Escenario movilidad eléctrica');
        //    data.addColumn('number', 'Escenario línea base');

        //    data.addRows([
        //      [1, 37.8, 80.8],
        //      [2, 30.9, 69.5],
        //      [3, 25.4, 57],
        //      [4, 11.7, 18.8],
        //      [5, 11.9, 17.6],
        //      [6, 8.8, 13.6],
        //      [7, 7.6, 12.3],
        //      [8, 12.3, 29.2],
        //      [9, 16.9, 42.9],
        //      [10, 12.8, 30.9],
        //      [11, 5.3, 7.9],
        //      [12, 6.6, 8.4],
        //      [13, 4.8, 6.3],
        //      [14, 4.2, 6.2]
        //    ]);

        //    var options = {
        //        chart: {
        //            title: 'Electrificación de flota - TCO',
        //            //subtitle: 'in millions of dollars (USD)'
        //        },
        //        width: 900,
        //        height: 500
        //    };

        //    var chart = new google.charts.Line(document.getElementById('linechart_material'));
        //    chart.draw(data, google.charts.Line.convertOptions(options));
        //}

        //google.charts.load("current", { packages: ['corechart'] });
        //google.charts.setOnLoadCallback(drawChart);
        //function drawChart() {
        //    var data = google.visualization.arrayToDataTable([
        //        ['Genre', 'Mantenimiento extraordinario', 'Otros transportes', 'Reventa vehículo', 'Equipo carga e instalación',
        //         'Carga financiera', 'Mantenimiento continuo', 'Energía (electricidad o combustible)', 'Seguro', 'Recambio de batería', 'Cuota inicial', { role: 'annotation' }],
        //        ['Escenario movilidad convencional', 10, 24, 20, 32, 0, -5, -10, -15, -20, -25, ''],
        //        ['Escenario electromovilidad', 16, 22, 23, 30, 16, 9, -5, -12, -25, -32, '']
        //    ]);

        //    var options = {
        //        title: 'Comparación TCO',
        //        width: 900,
        //        height: 700,
        //        tooltip: { isHtml: true },
        //        bar: { groupWidth: '75%' },
        //        isStacked: true,                
        //    };

        //    var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
        //    chart.draw(data, options);
        //}


        //google.charts.setOnLoadCallback(drawChart2);
        //function drawChart2() {
        //    var data = google.visualization.arrayToDataTable([
        //        ['Genre', 'Mantenimiento extraordinario', 'Otros transportes', 'Reventa vehículo', 'Equipo carga e instalación',
        //         'Carga financiera', 'Mantenimiento continuo', 'Energía (electricidad o combustible)', 'Seguro', 'Recambio de batería', 'Cuota inicial', { role: 'annotation' }],
        //        ['Escenario movilidad convencional', 10, 24, 20, 32, 0, -5, -10, -15, -20, -25, ''],
        //        ['Escenario electromovilidad', 16, 22, 23, 30, 16, 9, -5, -12, -25, -32, '']
        //    ]);

        //    var options = {
        //        title: 'Comparación TCO',
        //        width: 900,
        //        height: 700,
        //        tooltip: { isHtml: true },
        //        bar: { groupWidth: '75%' },
        //        isStacked: true,
        //    };

        //    var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values_2"));
        //    chart.draw(data, options);
        //}
    </script>
